{% extends "diary/base.html" %}

{% block title %} Change Username {% endblock %}

{% block content %}

<h1>Change Username</h1>
<br>

<form method="post" class="auth-form">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="mb-3">
        <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}:</label>
        {{ form.password }}
    </div>
    <div class="form-text">{{ form.password.help_text }}</div>
    <div class="form-text">{{ form.password.errors }}</div>

    <div class="mb-3">
        <label for="{{ form.new_username.id_for_label }}" class="form-label">{{ form.new_username.label }}:</label>
        {{ form.new_username }}
    </div>
    <div class="form-text">{{ form.new_username.help_text }}</div>
    <div class="form-text">{{ form.new_username.errors }}</div>

    <button type="submit" class="btn btn-primary">Change Username</button>
</form>

{% endblock %}
