{% extends 'diary/base.html' %}

{% block title %}Postways{% endblock %}

{% block content %}

<div class="filter-tabs">
  <a
    href="{% url 'home' %}"
    class="{% if request.resolver_match.url_name == 'home' %}selected{% endif %}"
  >
    New
  </a>
  <a
    href="{% url 'home-popular' %}"
    class="{% if request.resolver_match.url_name == 'home-popular' %}selected{% endif %}"
  >
    Popular
  </a>
</div>

<div class="posts-grid">
  {% for post in object_list %}
    {% include "diary/_post_card.html" with post=post %}
  {% endfor %}
</div>

{% endblock %}
