{% extends 'diary/base.html' %} 

{% block title %} postways {% endblock %}

{% block content %}

<div class="filter-tabs">
  <a href="{% url 'home' %}" class="{% if ordering == 'fresh' %}selected{% endif %}">
    New
  </a>
  <a href="{% url 'home-like-ordering' %}" class="{% if ordering == 'liked' %}selected{% endif %}">
    Popular
  </a>
</div>

<div class="posts-grid">
  {% for post in object_list %}
    {% include "diary/_post_card.html" with post=post liked_by_user=liked_by_user %}
  {% endfor %}
</div>

{% endblock %}
